/* global style */
body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --brand-color: #212121;
  --second-color: #757575;
  --next-color: #ffffff;
  --bornon: none;
  --header-hover: #2196f3;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(32 / 26);
  letter-spacing: 0.03em;
  color: var(--header-hover);
}
.web {
  color: black;
}
.butoon {
  cursor: pointer;
}

h1,
h2,
p {
  margin: 0;
}

/* HW-01 */

/* header */

.page-header .container {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.page-header .logo {
  margin-right: 93px;
}
.header-list {
  display: flex;
}
.header-list .header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 50px;
}
.hover-tup:hover,
:focus {
  color: var(--header-hover);
}
.header-contakts .header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 50px;
}
.header-contakts {
  margin-left: auto;
}
.list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-left: 50px;
}

/* hero */

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../goit-markup-hw-04/images/all-team.jpg);
}
.hero-section {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--next-color);
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 696px;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  letter-spacing: 0.06em;
  color: var(--next-color);
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  background: var(--header-hover);
  border: var(--bornon);
}
.hover-butoon:hover {
  background: #188ce8;
}

/* proda */

.proda-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.proda {
  padding-top: 94px;
  padding-bottom: 94px;
}
.proda-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.proda-list-item:not(:last-child) {
  margin-right: 30px;
}
.proda-link {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.proda-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* work */

.work-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}
.work .list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.work {
  padding-bottom: 94px;
}
.work-img {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.work-img:not(:last-child) {
  margin-right: 30px;
}
/* team */

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-link {
  background: var(--next-color);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-link:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.team-link:not(::first-child) {
  margin-left: 30px;
}
.team-line {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}
.all-team {
  padding-bottom: 94px;
}
.team .list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.team-list {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.team-link-list {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-bottom: 30px;
  text-align: center;
}

/* footer */
.footer {
  padding-bottom: 60px;
}
.address {
  padding-top: 60px;
  background-color: #2f303a;
  padding-bottom: 60px;
}
.address-link-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--next-color);
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address .logo {
  display: block;
  padding-bottom: 20px;
}
.address-li {
  margin-bottom: 9px;
}

/* HW-02  */
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-lynk {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* project */

.project {
  padding-top: 94px;
}
.project-list .project-text:hover {
  color: #ffffff;
}
.project-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.project .butoon {
  margin-right: 8px;
}
.project-1st-button {
  width: 73px;
  height: 38px;
  left: 512px;
  top: 174px;
  background: var(--header-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: var(--bornon);
}
.project-2nd-butoon {
  width: 135px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: var(--bornon);
}
.project-3d-butoon {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: var(--bornon);
}
.project-4r-butoon {
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: var(--bornon);
}
.project-5v-butoon {
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: var(--bornon);
}
.hover-butoon:hover,
:focus {
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.butoon-size {
  padding: 6px 22px;
}
.project-menu {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 25px;
  margin-bottom: 30px;
}

.project-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.project-job .project-text {
  margin-bottom: 4px;
}
.project-text-unik {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project-text-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.project-aftograv {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  margin-top: -5px;
}
.project-job {
  padding: 0;
  margin: 0;
  margin-right: -30px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

/* address */
.footer {
  background-color: #2f303a;
}
.adres-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--next-color);
}
.address-li {
  font-style: normal;
}
.adres-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.web-2 {
  color: var(--next-color);
}
.footer {
  padding-top: 60px;
}
.footer .list {
  margin-top: 20px;
}
